body{
    background-color: #eeeeee;
  }
  .card {
    margin: 0px 5px;
    
    width: 23%;
    
    
    
    /* height:100%; */
  }

  .card-container {
  background-color: #ffff;
  box-shadow: 1px 1px 1px 1px rgb(217 217 217); 
  transition: 0.3s;
  border-radius: 8px;
  padding: 10px 16px;
   
  }


  .sidebarTitle{
    color: hsl(0deg 0% 69.8%);

  }

  .active{
    color:hsl(13.15deg 72.95% 52.16%)
  }

  .sidebarItems{
    padding:6px;
    display: inline-block;
    font-weight:500;
  }
  a:link{
    color: inherit; 
    text-decoration: none; 
    width:100%;
  }