body{
  background-color: #eeeeee;
}
.card {
  margin: 30px 6px; 
  width: 30%;
  position:relative;
}


.card-container {
  background-color: #ffff;
  box-shadow: 1px 1px 1px 1px hsl(0deg 0% 88.63%);
  transition: 0.3s;
  text-align: center;
  border-radius: 8px;
  padding: 10px 16px;
}

img {
    width: 60px;
    height:60px;
    border-radius: 6px;  
}

.img {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%) 
}
.heading{
  display:flex;
  flex: 70%;
  justify-content:center;
}

.row {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 50px;
}





